<div>
    <iframe style="width: 100% !important; outline: 2px solid fuchsia;" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=900&w=500&cp=53.369930238845896~-1.5186936527942763&lvl=16&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
    </iframe>
    <div style="white-space: nowrap; text-align: center; width: 100%; padding: 6px 0;">
       <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=53.369930238845896~-1.5186936527942763&amp;sty=r&amp;lvl=16&amp;FORM=MBEDLD">View Larger Map</a> &nbsp; | &nbsp;
       <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=53.369930238845896~-1.5186936527942763&amp;sty=r&amp;lvl=16&amp;rtp=~pos.53.369930238845896_-1.5186936527942763____&amp;FORM=MBEDLD">Get Directions</a>
   </div>
</div>