    <div class="gallery">
      <div class="images">
        <img src="/img/1.jpg" id="ph-1" alt="photo_one" />
        <img src="/img/2.jpg" id="ph-2" alt="photo_two" />
        <img src="/img/3.jpg" id="ph-3" alt="photo_three" />
        <img src="/img/4.jpg" id="ph-4" alt="photo_four" />
        <img src="/img/5.jpg" id="ph-5" alt="photo_five" />
      </div>
    </div>

    <style>
      .gallery {
        position: relative;

      }

      .images {
        background-color: #222;
      }

      .gallery img {
        position: absolute;
        opacity: 0;
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: .5vw;
        animation: img-fade 20s infinite;
      }

      .gallery:hover img {
        animation-play-state: paused;
        cursor: wait;
      }

      @keyframes img-fade {
        25% {
          opacity: 1;
        }

        40% {
          opacity: 0;
        }

      }

      #ph-1 {
        animation-delay: 16s;
      }

      #ph-2 {
        animation-delay: 12s;
      }

      #ph-3 {
        animation-delay: 8s;
      }

      #ph-4 {
        animation-delay: 4s;
      }

      #ph-5 {
        animation-delay: 0;
      }
    </style>