    <div class="tagline">
        <div class="logo"><img src="/img/aitken-audio-logo-2.svg" alt="logo"></div>
        <div>Aitken Audio of <i>Sheffield</i>.</div>
        <div>The <i>SOUND</i> solution company</div>
    </div>

    <style>
        .tagline {
            min-height: 70vh;
            background-color: #222;
            color: #fff;
            font-size: 5em;
            font-family: 'Cormorant Garamond', georgia;
            font-weight: 400;
            display: grid;
            gap: 1rem;
            place-content: center;
            text-align: center;
            margin-inline: -2rem;
            margin-top: -1rem;
        }
        .tagline > :last-child {
            font-size: 2rem;
        }
        .tagline i {
            color: goldenrod;
        }
        .logo img {
            width: 250px;
        }
    </style>