<div class="map-section">

    <h2>Where</h2>

    <div id="map"></div>

    <script>
        var map = L.map('map').setView([53.3695, -1.5191], 16);

        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var marker = L.marker([53.36985, -1.51771]).addTo(map)
            .bindPopup("<b>Aitken Audio</b>").openPopup();
    </script>

</div>

<iframe width="425" height="450" frameborder="1" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-1.538364887237549%2C53.36348590053808%2C-1.4997839927673342%2C53.375571703572135&amp;layer=mapnik" style="width: 100%; border: 1px solid #333"></iframe>

<br />

<small><a href="https://www.openstreetmap.org/#map=16/53.3695/-1.5191">View Larger Map</a></small>
